<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <form>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Sign Up</button>
        <p>Already have an account? <a href="login.html">Log in</a></p>
      </form>
    </div>
  </body>
</html>
